body {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #34343f;
}

section{
  background: #8ac625;
  height: 200px;
  display: grid;
  color: white;
  padding: 50px;
  align-items: center;
  font-weight: 700;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.love-hate{
  cursor: pointer;
}

h1 {
  padding: 70px 100px;
}

button{
  background: transparent;
  color:  white;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 5px;
  width: 240px;
  padding: 8px 12px;
  font-size: .8em;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background:white;
  color:  #8ac625;
}

button:focus {
  outline:none;
}

input {
  background: white;
  width: 80%;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

input:focus {
  outline:none;
  box-shadow: 4px 6px 26px 0px rgba(0, 0, 0, 0.317);
}
